* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0px 18px 0px;
}
.banner {
  background-color: #fdf0df;
}
/* Section Header */
.header-ctn {
  background-color: #fdf0df;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.header-logo {
  max-width: 127px;
  height: 34px;
}
.header-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header ul {
  text-align: right;
  padding-left: 30%;
}
.header ul li {
  display: inline-block;
  padding: 8px 20px;
  font-weight: 400;
  cursor: pointer;
}
.header ul li a {
  color: #0b0d21;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.header ul li:hover {
  font-weight: 500;
  background-color: #ffee00;
  border-radius: 4px;
}
.header ul li:hover a {
  font-weight: 500;
}
.login-btn {
  width: 102px;
  padding: 8px 0px;
  border-radius: 4px;
  background-color: #0b0d21;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.i-menu {
  display: none;
  width: 21px;
  height: 30px;
  font-size: 25px;
}
.i-menu i {
  max-width: 100%;
}
/* Responsive */
/* 1070px */
@media (max-width: 1070px) {
  .header ul {
    padding-left: 15%;
  }
}
/* 912px */
@media (max-width: 912px) {
  .header ul,
  .header a {
    display: none;
  }
  .i-menu {
    display: block;
  }
}
/* End Section Header */

/* Section Banner */
.banner-content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}
.banner-title::after {
  content: "";
  position: absolute;
  bottom: 8%;
  right: 21%;
  width: 134px;
  height: 87px;
  background: url("./imgs/book.png") no-repeat center/contain;
}
.banner-title {
  color: #0b0d21;
  position: relative;
  width: 73%;
}
.banner-title-desktop {
  position: absolute;
  top: 40.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner-title-desktop h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 1px;
}
.banner-title-desktop h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 35px;
  margin-top: 11px;
  letter-spacing: 0.7px;
}
.banner-title-desktop p {
  font-size: 16px;
  font-weight: 800;
  line-height: 35px;
  margin-top: 61px;
  letter-spacing: 0.3px;
}
.i-book {
  width: 122px;
  height: 82px;
  position: absolute;
  right: 21.5%;
  bottom: 8.5%;
}
.i-book img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.banner-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  width: 69%;
  position: relative;
}
.banner-img::before {
  content: "";
  position: absolute;
  bottom: 39px;
  left: 69%;
  transform: translateX(50%);
  width: 26px;
  height: 37px;
  background: url(./imgs/mouse.png) no-repeat center / contain;
}

.banner-img::after {
  content: "Scroll Down";
  position: absolute;
  bottom: 0px;
  left: 56%;
  transform: translateX(50%);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0b0d21;
}
.image-box {
  position: relative;
}
.image-box:nth-child(1) {
  height: 412px;
}
.image-box:nth-child(2) {
  height: 327px;
}
.image-box:nth-child(3) {
  height: 232px;
}
.image-box:nth-child(4) {
  border-radius: 50%;
  height: 268px;
  position: absolute;
  top: 65.5%;
  left: 52.5%;
  transform: translateY(-57%);
  z-index: 2;
  outline: 30px solid #fdf0df;
}
.image-box:nth-child(1) img,
.image-box:nth-child(2) img,
.image-box:nth-child(3) img,
.image-box:nth-child(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-box:nth-child(1) img {
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  transform: scaleX(-1);
}
.image-box:nth-child(2) img {
  border-top-right-radius: 80px;
}
.image-box:nth-child(3) img {
  border-bottom-left-radius: 74px;
}
.image-box:nth-child(4) img {
  border-radius: 50% !important;
}
.d-mobi {
  display: none;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #0b0d21;
  position: absolute;
  bottom: -44%;
  left: 45%;
  transform: translateX(-50%);
  z-index: 3;
}
.info i {
  font-size: 40px;
}
.info span {
  text-align: center;
}
.banner-title-mobi {
  display: none;
}
.banner-title-mobi h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  color: #0b0d21;
  letter-spacing: 0.8px;
}
.banner-title-mobi p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.btn-cnt {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
}
.learning-btn,
.courses-btn {
  border-radius: 8px;
  background-color: #0b0d21;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.learning-btn {
  width: 194px;
  padding: 16px 0px;
}
.courses-btn {
  width: 213px;
  padding: 16px 0px;
}
.iStar-ctn {
  display: flex;
  gap: 10px;
  margin-bottom: 13px;
}
.iStar-ctn i {
  font-size: 26.5px;
  color: #fdbf1c;
}
.banner-title-mobi .num {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #0b0d21;
  text-align: left;
  letter-spacing: 0.1px;
  margin-bottom: 13px;
}
.banner-title-mobi .total {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #0b0d21;
  text-align: left;
  margin-bottom: 16px;
}
.reviews-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #0b0d21;
  text-align: left;
  text-decoration: underline !important;
}
/* Responsive */
/* 912px */
@media (max-width: 912px) {
  .banner-content {
    padding: 50px 0px;
    gap: 20px;
  }
  .banner-title {
    width: 45%;
  }
  .banner-img {
    gap: 20px;
  }
  .image-box:nth-child(4) {
    outline: 17px solid #fdf0df;
  }
}
@media (max-width: 700px) {
  .banner-content {
    flex-direction: column;
  }
  .banner-title {
    width: 100%;
  }
  .banner-title-desktop {
    display: none;
  }
  .banner-title::after {
    display: none;
  }
  .banner-img::before {
    bottom: 28px;
    left: 71.5%;
    width: 16px;
    height: 24px;
  }
  .banner-img::after {
    font-size: 14px;
    line-height: 24px;
    bottom: -3px;
    left: 60%;
  }

  .banner-title-mobi .desc {
    letter-spacing: -0.25px;
    margin-bottom: 30px;
  }
  .banner-title-mobi {
    display: block;
  }
  .banner-img {
    width: 100%;
  }
  .i-book {
    display: none;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 13px;
  }
  .banner-content {
    padding: 38px 0px 30px;
    gap: 44px;
  }
  .banner-img::before {
    bottom: 28px;
    left: 71.5%;
    width: 16px;
    height: 24px;
  }
  .banner-img::after {
    font-size: 14px;
    line-height: 24px;
    bottom: -3px;
    left: 53.5%;
  }
  .banner-title-mobi h2 {
    letter-spacing: 0.75px;
    margin-bottom: 12px;
  }
  .banner-title-mobi .desc {
    letter-spacing: -0.25px;
    margin-bottom: 26px;
  }
  .banner-img {
    gap: 15px;
  }
  .image-box:nth-child(1) {
    height: 244px;
  }
  .image-box:nth-child(2) {
    height: 194px;
  }
  .image-box:nth-child(3) {
    height: 137px;
  }
  .image-box:nth-child(4) {
    height: 160px;
  }
  .image-box:nth-child(2) img {
    border-top-right-radius: 47px;
  }
  .info {
    gap: 3px;
    font-size: 14px;
    line-height: 24px;
    bottom: -44%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .info i {
    font-size: 27px;
  }
  .d-desktop {
    display: none;
  }
  .d-mobi {
    display: block;
  }
}
/* End Section Banner */

/* Section CountDown */
.countdown {
  background-color: #434ec4;
}
.countdown-content {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  padding: 70px 80px;
  justify-content: center;
  align-items: center;
}
.content-stories {
  position: relative;
}
.content-stories:not(:last-child) {
  padding-right: 73px;
}
.content-stories:not(:first-child) {
  padding-left: 73px;
}
.content-stories::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 57px;
  background-color: #929aef;
}
.content-stories:nth-child(4)::after {
  content: none;
}
.num {
  font-size: 42px;
  line-height: 46px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
}
.text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: #d0d4ff;
}
/* Responsive */
/* 912px */
@media (max-width: 912px) {
  .content-stories:not(:last-child) {
    padding-right: 53px;
  }
  .content-stories:not(:first-child) {
    padding-left: 53px;
  }
  .num {
    font-size: 32px;
  }
}
@media (max-width: 700px) {
  .countdown-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-stories {
    width: 48%;
    text-align: center;
    margin-bottom: 20px;
  }
  .content-stories:not(:last-child) {
    padding-right: 0px;
  }
  .content-stories:not(:first-child) {
    padding-left: 0px;
  }
  .content-stories:nth-child(2)::after {
    content: none;
  }
}
@media (max-width: 480px) {
  .countdown-content {
    flex-direction: column;
    padding: 56px 80px 23px;
  }
  .content-stories {
    width: 100%;
    margin-bottom: 28px;
  }
  .content-stories:nth-child(1)::after,
  .content-stories:nth-child(3)::after {
    content: none;
  }
  .num {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 5px;
  }
  .text {
    font-size: 14px;
    line-height: 24px;
  }
}
/* End Section CountDown */

/* Section Features */
.features {
  padding: 170px 0px 160px;
}
.features-title {
  text-align: center;
  max-width: 572px;
  margin: 0 auto;
}
.features-title h2 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 800;
  letter-spacing: 0.6px;
  margin-bottom: 19px;
  color: #0b0d21;
}
.features-title p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #686977;
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.tabs {
  display: flex;
  justify-content: space-between;
  padding: 48px 0px 0px;
  margin: 0;
  border-bottom: 2px solid #d9d9d9;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 22px 0;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #686977;
}

.tab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: background-color 0.3s ease-in-out;
  color: #686977;
  transform: scaleX(0);
}
.tab:hover,
.tab.active {
  color: #0b0d21;
}
.tab:hover::after,
.tab.active::after {
  background-color: #434ec4;
  transform: scaleX(1);
}
.recorded-content {
  display: flex;
  gap: 110px;
  margin: 66px 0px 164px;
  /* align-items: center; */
  justify-content: space-between;
}
.recorded-content-title {
  width: 57%;
  position: relative;
}
.recorded-content-title .title-container {
  position: absolute;
  top: 49%;
  left: 0;
  /* width: 50%;  */
  transform: translateY(-50%);
}
.recorded-content-title h3 {
  font-size: 42px;
  font-weight: 800;
  line-height: 52px;
  color: #0b0d21;
  letter-spacing: 1px;
}
.recorded-content-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #686977;
  margin-top: 19px;
  margin-bottom: 53px;
}
.feature-btn {
  padding: 19px 37px;
  border-radius: 8px;
  background-color: #ffee00;
  color: #0b0d21;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.recorded-content-video {
  height: 520px;
}
.recorded-content-video img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Responsive */
/* 912px */
@media (max-width: 912px) {
  .features {
    padding: 80px 0px;
  }
  .tabs {
    padding: 25px 0px 0px;
  }
  .recorded-content {
    gap: 50px;
    margin: 50px 0px 80px;
  }
  .recorded-content-title {
    width: 65%;
  }
  .recorded-content-title h3 {
    font-size: 32px;
  }
}
@media (max-width: 700px) {
  .recorded-content {
    flex-direction: column-reverse;
  }
  .recorded-content-title {
    width: 100%;
  }
  .recorded-content-title .title-container {
    position: relative;
    width: 100%;
    transform: translateY(0%);
  }
}
@media (max-width: 480px) {
  .features {
    padding: 99px 0px 54px;
  }
  .features-title h2 {
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 13px;
  }
  .features-title p {
    font-size: 14px;
    line-height: 24px;
  }
  .tabs {
    display: none;
  }
  .recorded-content {
    gap: 29px;
    margin: 54px 0px 65px;
  }
  .recorded-content-title h3 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.4px;
  }
  .recorded-content-title p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 12px;
    margin-bottom: 43px;
  }

  .recorded-content-video {
    height: 310px;
  }
}
/* Section Category */
.category-ctn {
}
.category-title,
.category-courses {
  display: flex;
  gap: 110px;
  justify-content: space-between;
}
.category-title {
  margin-bottom: 67px;
}
.title-ctn {
  width: 44%;
}
.desc-ctn {
  width: 51%;
  margin-top: 10px;
}
.category-title h3 {
  font-size: 42px;
  font-weight: 800;
  line-height: 52px;
  color: #0b0d21;
  letter-spacing: 1px;
}
.category-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #686977;
  letter-spacing: -0.1px;
}
.category-video {
  width: 40.3%;
  position: relative;
  display: inline-block;
}
.category-video::after {
  content: "\25B6";
  font-size: 22px;
  color: #434ec4;
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 69px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.category-video img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.category-courses .courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 25px;
  row-gap: 30px;
  width: 49%;
  position: relative;
}
.courses-box {
  border: 1px solid #e9eaf0;
  border-radius: 12px;
  padding: 39px 23px;
  background-color: transparent;
  height: 100%;
}
.courses-box:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.courses-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: #0b0d21;
  margin-top: 17px;
}
.courses-quatity {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #686977;
  margin-top: 10px;
  letter-spacing: -0.3px;
}
/* Responsive */
/* 912px */
@media (max-width: 912px) {
  .category-title {
    flex-direction: column;
    gap: 20px;
  }
  .title-ctn,
  .desc-ctn {
    width: 100%;
  }
  .category-courses {
    gap: 50px;
  }
  .category-courses .courses {
    width: 66%;
  }
  .category-video {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .category-title h3 {
    font-size: 32px;
  }
  .category-courses {
    flex-direction: column;
  }
  .category-video,
  .category-courses .courses {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .category-title {
    gap: 13px;
    margin-bottom: 25px;
  }
  .category-title h3 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }
  .desc-ctn {
    margin-top: 0px;
  }
  .category-title p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
  .category-video {
    height: 344px;
  }
  .category-courses {
    gap: 31px;
  }
  .category-courses .courses {
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 16px;
    max-width: 270px;
  }
}
/* End Section Features */

/* Section Courses */
.section-courses {
  background-color: #fdf0df;
  padding: 103px 0px;
}
.courses-title {
  text-align: center;
  width: 50%;
  margin: 0 auto 68px;
}
.courses-title h2 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 19px;
  color: #0b0d21;
}
.courses-title p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.2px;
  margin-bottom: 19px;
  color: #686977;
}
.courses-ctn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}
.card {
  border-radius: 12px;
  background-color: #fff;
  padding: 21px 19px 19px 21px;
}
.card:hover .card-btn {
  background-color: #ffee00;
  border: 1px solid #ffee00;
}
.card-img {
  height: 278px;
  margin-bottom: 22px;
}
.card-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.card-tag {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #434ec4;
}
.card-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #0b0d21;
  margin-top: 12px;
  margin-bottom: 11px;
  letter-spacing: -0.1px;
}
.card-info {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 11px;
}
.card-info-ava {
  width: 20px;
  height: 20px;
}
.card-info-ava img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #83848c;
}
.card-detail {
  display: flex;
  gap: 19px;
  align-items: center;
  color: #686977;
  margin-bottom: 21px;
}
.card-detail-hour,
.card-detail-class,
.card-detail-sale {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-card p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #0b0d21;
}
.card-btn {
  width: 120px;
  padding: 14px 0px;
  border-radius: 6px;
  border: 1px solid #0b0d21;
  background-color: transparent;
  color: #0b0d21;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.btn-cards-ctn {
  margin: 0 auto;
  width: 204px;
  padding: 69px 0px 12px;
}
.view-all-btn {
  padding: 17px 32px;
  border-radius: 8px;
  background-color: #ffee00;
  border: 1px solid #ffee00;
  color: #0b0d21;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

/* Responsive */
/* 912px */
@media (max-width: 912px) {
  .section-courses {
    padding: 80px 0px;
  }
  .courses-title {
    width: 100%;
  }
  .courses-ctn {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .courses-ctn {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .section-courses {
    padding: 57px 0px;
  }
  .courses-title {
    margin: 0 auto 26px;
  }
  .courses-title h2 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.4px;
    margin-bottom: 12px;
  }
  .courses-title p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 19px;
  }
  .courses-ctn {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
  }
  .card {
    padding: 14px 14px 15px 14px;
  }
  .card-img {
    height: 262px;
    margin-bottom: 16px;
  }
  .card-name {
    font-size: 16px;
    line-height: 26px;
    margin-top: 1px;
    margin-bottom: 11px;
    letter-spacing: -0.2px;
  }
  .card-info {
    margin-bottom: 14px;
  }
  .card-info p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
  .card-detail {
    gap: 19px;
    margin-bottom: 18px;
  }
  .card-detail-hour,
  .card-detail-class,
  .card-detail-sale {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
  .footer-card p {
    font-size: 16px;
    line-height: 26px;
  }
  .card-btn {
    width: 75px;
    padding: 9px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
  }
  .btn-cards-ctn {
    padding: 38px 0px 12px;
  }
}

/* End Section Courses */
/* Section Testimonial */
.testimonial {
  padding: 161px 0px 189px;
}
.testimonial-title {
  display: flex;
  gap: 110px;
  justify-content: space-between;
}
.testimonial-title .title-ctn {
}
.testimonial-title .title-ctn h3 {
  font-size: 42px;
  font-weight: 800;
  line-height: 52px;
  color: #0b0d21;
  letter-spacing: 1px;
}
.testimonial-title .desc-ctn p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #686977;
  letter-spacing: -0.1px;
}
.testimonial-slider {
  margin-top: 68px;
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}

.slick-list {
  margin: 0 -10px !important;
}
.slick-slide {
  padding: 0 15px; /* 10px hai bên = 20px tổng */
}

.slick-dots {
  bottom: -18% !important;
}
.slick-dots li {
  display: none !important;
  margin: 0 8px !important;
}

.slick-dots li:nth-child(-n + 3) {
  display: inline-block !important;
}
.slick-dots li button::before {
  content: ""; /* Xóa dấu chấm mặc định */
  display: block !important;
  width: 24px !important; /* Độ dài của dots */
  height: 4px !important; /* Độ dày */
  background-color: #d5d6de !important;
  border-radius: 2px !important; /* Bo tròn nhẹ */
  transition: all 0.3s ease;
  color: transparent !important;
}
.slick-dots li.slick-active button::before {
  background-color: #0b0d21 !important;
}
.slider-card {
  border: 1px solid #e9eaf0;
  border-radius: 12px;
  padding: 40px 17px;
}
.slider-card:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.07),
    -5px 10px 20px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border: none;
}
.slider-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #0b0d21;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
}
.content-review {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}
.i-ctn {
  width: 30px;
}
.i-quote {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #fdf0df;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #686977;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}
.line {
  height: 2px;
  width: 100%;
  background-color: #e9eaf0;
}
.review-info {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 19px;
}
.review-info-ava {
  height: 64px;
  width: 64px;
}
.review-info-ava img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.review-info-detail p {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #0b0d21;
  letter-spacing: 0.2px !important;
  margin-bottom: 5px !important;
}
.i-star-ctn {
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #ffc400;
}
/* Responsive */
/* 912px */
@media (max-width: 912px) {
  .testimonial {
    padding: 80px 0px;
  }
  .testimonial-title {
    flex-direction: column;
    gap: 25px;
  }
}
@media (max-width: 700px) {
}
@media (max-width: 480px) {
  .testimonial {
    padding: 56px 0px;
  }
  .testimonial-title {
    flex-direction: column;
    gap: 12px;
  }

  .testimonial-title .title-ctn h3 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.2px;
  }
  .testimonial-title .desc-ctn p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .testimonial-slider {
    margin-top: 27px !important;
  }
  .slider-card {
    padding: 21px 7px;
  }
  .slider-card-title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .content-review {
    gap: 11px;
  }
  .review-text p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 28px;
  }
  .line {
    width: 113%;
    margin-left: -37px;
  }
  .review-info {
    gap: 15px;
    margin-top: 15px;
    margin-left: -38px;
  }
  .review-info-detail p {
    letter-spacing: 0.9px !important;
    margin-bottom: 1px !important;
  }
  .slick-dots {
    bottom: -17% !important;
  }
}
/* End Section Testimonial */

/* Section CTA */
.CTA {
  padding: 101px 0px 99px;
  background-color: #ffee00;
  position: relative;
}
.CTA::after {
  content: "";
  position: absolute;
  bottom: 46%;
  right: 78.5%;
  width: 134px;
  height: 87px;
  background: url(./imgs/book.png) no-repeat center / contain;
  transform: rotate(45deg);
}
.CTA::before {
  content: "";
  position: absolute;
  bottom: 51.5%;
  right: 13.5%;
  width: 134px;
  height: 87px;
  background: url(./imgs/book.png) no-repeat center / contain;
  transform: rotate(-45deg);
}
.CTA-ctn {
  max-width: 610px;
  margin: 0 auto;
  padding: 0px 18px 0px;
  text-align: center;
  z-index: 3;
  position: relative;
}
.CTA-title {
  margin: 0 0px 38px 0px;
}
.CTA-title h2 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
.CTA-title p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.1px;
}
.CTA-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CTA-form input {
  width: 395px;
  border: 1px solid #0b0d21;
  border-radius: 8px;
  padding: 14px 19px;
  background-color: transparent;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0b0d21;
}
.sub-btn {
  width: 159px;
  padding: 14px 0px;
  border-radius: 8px;
  background-color: #0b0d21;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
@media (max-width: 912px) {
  .CTA {
    padding: 80px 0px;
  }
}
@media (max-width: 700px) {
  .CTA-title h2 {
    font-size: 35px;
    line-height: 42px;
  }
  .CTA-title p {
    font-size: 16px;
    line-height: 26px;
  }
  .CTA-form {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .CTA::before,
  .CTA::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .CTA {
    padding: 56px 0px 54px;
  }
  .CTA-title {
    margin: 0 0px 27px 0px;
  }
  .CTA-title h2 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
  }
  .CTA-title p {
    font-size: 14px;
    line-height: 24px;
  }
  .CTA-form {
    gap: 17px;
    /* width: 100%; */
  }
  .CTA-form input {
    width: 339px;
    font-size: 14px;
    line-height: 24px;
    padding: 16px 17px;
  }
}
/*End Section CTA */
